body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin:0;
    padding: 0;
}

.app {
    background-color: rgba(255, 255, 255, 0.575);
    min-height: 100vh;
    width: 100vw;
    font-family: "helvetica";
    padding-top: 25px;
}
.container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1.1em;
}

.abstraction {
    font-size:0.7em;
    /* color: rgba(0, 0, 0, 0.84); */
    color: rgb(120, 38, 231);;
}

p {
    
    text-align: justify;
    line-height: 1.5em;
    
}

.image {
    width: 100%;
}

.figureDescriptor {
    text-align: center;
    padding: 12px;
    color: rgb(120, 38, 231);;
}