body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin:0;
    padding: 0;
}

.app {
    background-color: rgba(255, 255, 255, 0.575);
    min-height: 100vh;
    width: 100vw;
    font-family: "helvetica";
    padding-top: 25px;
}

.logo {
    padding: 12px;
    margin-bottom: 12px;
    margin-top: -25px;
    font-size: 1.5em;

}



.logo img{
    width: 6%;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #a36ff7;
    /* background-color: #6ff7da; */
    /* background-image: linear-gradient(#a36ff7, #6f8df7); */
    color: black;
}

.navbar h4 {
    color: white;
    font-size: 2em;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1.1em;
    
}

.container {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1.1em;
}

.title {
    font-family: "georgia, serif";
    font-weight: 400;
    font-size: 50px;
}

.section {
    padding-bottom: 24px;

}

.section h2{
    margin-bottom: -8px;
}

.paragraph{
    line-height: 2;
}

.abstraction {
    font-size:0.8em;
    color: rgba(0, 0, 0, 0.84);
    /* color: rgb(120, 38, 231);; */
}

.headerContainer .abstraction {
    margin-top: -28px;
}

.container .abstraction {
    margin-top: 12px;
    margin-bottom: 32px;
    color: rgb(120, 38, 231);
}


p {
    
    text-align: justify;
    line-height: 1.5em;
    
}

.image {
    width: 125%;
}

.figureDescriptor {
    text-align: center;
    padding: 12px;
    color: rgb(120, 38, 231);;
}