body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin:0;
    padding: 0;
}

.app {
    background-color: rgba(255, 255, 255, 0.575);
    min-height: 100vh;
    width: 100vw;
    font-family: "helvetica";
    padding-top: 25px;
}

.logo {
    padding: 12px;
    margin-bottom: 12px;
    margin-top: -25px;
    font-size: 1.5em;

}

.logo img{
    width: 6%;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #a36ff7;
}

.navbar h4 {
    color: white;
    font-size: 2em;
    font-weight: 100;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    text-align: center;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1.1em;
    
}

.container {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1.1em;
}

.title {
    font-family: "georgia, serif";
    font-weight: 400;
    font-size: 50px;
}

.section {
    padding-bottom: 24px;

}

.section h2, h3{
    margin-bottom: -8px;
}

.section h3{
    margin-top: 48px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.75);
}

.paragraph{
    line-height: 2;
}

.abstraction {
    font-size:0.8em;
    color: rgba(0, 0, 0, 0.84);
    /* color: rgb(120, 38, 231);; */
}

.headerContainer .abstraction {
    margin-top: -28px;
}

.container .abstraction {
    margin-top: 12px;
    margin-bottom: 32px;
    color: rgb(120, 38, 231);
}


p {
    
    text-align: justify;
    line-height: 1.5em;
    
}

.image {
    width: 120%;
    height: 120%;
    margin-left: -10%;
    margin-top: 24px;
    margin-bottom: 0px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallImage {
    width: 85%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.extraSmallImage {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.screen {
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.persona {
    width: 120%;
    height: 120%;
    margin-left: -10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.figureDescriptor {
    text-align: center;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.panelContainer {
    display:flex;
    flex-wrap: wrap;
}

.panelContainer .leftPanel {
    padding-top: 4%;
    width: 50%;
    float: left;
}

.panelContainer .middlePanel {
    padding-top: 4%;
    width: 33%;
}

.panelContainer .rightPanel {
    width: 50%;
    float: right;
}

.panelContainer .altRightPanel {
    width: 50%;
    float: right;
    padding-top: 4%;
}

.panelContainer .figureDescriptor {
    padding-top: 8px;
    font-size: 9px;
}

.prototype {

}



